<div class="title">
  <h1><%= @article.title %></h1>
  <%= link_to 'Edit this article', edit_article_path(@article), class:'btn font-weight-bold edit' %>
</div>
<p><%= @article.content %></p>

<%= link_to "Delete this article", article_path, method: :delete, data: {confirm: 'Do you want to confirm the delete?'}, class:'btn btn-danger' %>
<%= link_to 'Back', articles_path, class:'btn btn-primary' %>
